<header class="flex justify-between items-center px-4 mt-5">
  <img src="../../../assets/logo.svg" alt="Logo" class="w-16 h-10" />

  <img
    src="../../../assets/icon-menu.svg"
    alt="Open icon"
    class="w-10 h-4"
    (click)="toggleMenu()"
  />

  <aside
    class="w-[70%] h-[100dvh] shadow-md absolute bg-[#FFFDFA] right-0 top-0 p-5 flex flex-col z-10"
    *ngIf="menuOpen"
  >
    <img
      src="../../../assets/icon-menu-close.svg"
      alt="Close icon"
      class="w-8 h-8 ml-auto"
      (click)="toggleMenu()"
    />

    <nav class="flex-1 flex justify-start items-start mt-28">
      <ul class="list-none flex flex-col gap-6">
        <li class="text-xl"><a href="#Home">Home</a></li>
        <li class="text-xl"><a href="#New">New</a></li>
        <li class="text-xl"><a href="#Popular">Popular</a></li>
        <li class="text-xl"><a href="#Trending">Trending</a></li>
        <li class="text-xl"><a href="#Categories">Categories</a></li>
      </ul>
    </nav>
  </aside>

  <div
    class="fixed inset-0 bg-black opacity-50"
    *ngIf="menuOpen"
    (click)="toggleMenu()"
  ></div>
</header>
